.signupCard {
    display: flex;
    /* width: 100%; */
    margin: 0 auto;
    margin: 50px;
    padding: 20px;
    /* border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc; */
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
    justify-content: center;
}

.signupBoxes {
    display: flex;
    width: 400px;
    margin: 0 auto;
    margin: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
    flex-direction: column;
}

.signupCard label {
    display: block;
    margin: 10px 0 10px;
    /* color: white; */
    text-align: left;
}

.signupCard input {
    /* width: 100%; */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

.clearfix button {
    background-color: black;
    font-family: 'roboto', sans-serif;
    color: white;
    border-radius: 50px;
    width: 80px;
    margin: 10px;
}

.clearfix button:hover {
    color: lightsalmon;
}

.clearfix h3 {
    /* margin: 0 10px; */
    /* padding: 15px; */
    font-size: 12px;
}