.Welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* .heroimage {
    width: 100%;
    height: 100%;
    background-image: 'sockcampingcode.jpg';
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    width: 150%;
    height: 150%;
} */

.Welcome button {
    background-color: black;
    font-family: 'roboto', sans-serif;
    color: white;
    border-radius: 50px;
    width: 150px;
}

.Welcome button:hover {
    color: lightsalmon ;
}

.buttons {
    display: flex;
    margin-top: 50px;
}

.button1 {
    margin: 10px;
}

.buttons h3 {
    margin: 0 10px;
    padding: 15px;
    font-size: 15px;
}

.Welcome h2 {
    color: white;
    font-size: 50px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.Welcome p {
    color: white;
    font-size: 20px;
    /* margin: 0; */
    /* padding: 0; */
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

